body {
    font-family: "Orbitron";
    background-color: #578FCA;
    color: #D1F8EF;
}

.main01 {
    display: flex;
    justify-content: space-between;
    background-color: #3674B5;
    border: solid 4px#D1F8EF;
    border-radius: 10px;
}

.main01 diV {
    margin: auto 10px;
}

.sociallogo {
    margin: auto 0px;
}

.main02 {
    background-image: url(../image/464863.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 10px;
    padding: 20px;
}

.profile {
    text-align: center;
}

.profile h3 {
    margin: 5px;
    font-size: 30px;
}

.profile p {
    margin: 20px auto;
    width: 90%;
    font-size: 18px;
}

.weeklybox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    opacity: 80%;
}

.exercisesbox {
    background-color: #D1F8EF;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    width: calc(100%/4);
    height: 150px;
}

.exercisesbox04 {
    background-color: #D1F8EF;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    width: 93%;
    height: 150px;
}

.week {
    display: flex;
    justify-content: center;
    margin: 0px auto 10px auto;
    background-color: #3674B5;
    padding: 10px;
    border-radius: 10px;
}

.week img {
    margin: auto 5px;
}

.week h5 {
    color: #D1F8EF;
    margin: auto 5px;
    text-align: center;
}

.linkforexe {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: auto;
}

.linkforexe a {
    text-decoration: none;
    color: #3674B5;
    text-align: center;
    margin: 4px;
}

.sociallogo02 {
    margin: auto;
    text-align: center;
}

.smalltext {
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .h3 {
        font-size: 30px;
    }

    .sociallogo {
        display: none;
    }

    .profile p {
        font-size: 12px;
    }

    .exercisesbox {
        width: 40%;
    }

    .exercisesbox04 {
        width: 40%;
    }

    .week h5 {
        font-size: 16px;
    }

    .main03 {
        display: flex;
        justify-content: space-around;
    }

    .smalltext {
        font-size: 10px;
    }
}