h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
}

.box {
    margin: auto;
    width: 40%;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(158, 158, 255, 0.529);
}

input {
    border-radius: 30px;
    border-color: rgb(235, 69, 69);
    padding: 15px;
}

.name {
    margin: auto;
    width: 100%;
}

.name input {
    width: 41.5%;
    margin: 5px;
}

.infor {
    margin: auto;
    width: 100%;
}

.birthdate {
    width: 30%;
    margin: 5px;
}

.useremail {
    width: 53%;
    margin: 5px;
}

.homepagelink input {
    width: 91.5%;
    margin: 5px;
}

.choose {
    font-size: 16px;
    margin: 5px;
}

.introbio {
    width: 91.5%;
    margin: 5px;
    padding: 15px;
}

.submitbutton {
    width: 100%;
    padding: 10px;
    border: unset;
    background-color: rgb(41, 147, 253);
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 1350px) {
    .name input {
        width: 41%;
        margin: 5px;
    }

    .birthdate {
        width: 30%;
        margin: 5px;
    }

    .useremail {
        width: 52%;
        margin: 5px;
    }

    .homepagelink input {
        width: 92%;
        margin: 5px;
    }

}

@media screen and (max-width: 1300px) {
    .name input {
        width: 40%;
        margin: 5px;
    }

    .birthdate {
        width: 30%;
        margin: 5px;
    }

    .useremail {
        width: 50%;
        margin: 5px;
    }

    .homepagelink input {
        width: 92%;
        margin: 5px;
    }

}

@media screen and (max-width: 1250px) {
    .name input {
        width: 39%;
        margin: 5px;
    }

    .birthdate {
        width: 28%;
        margin: 5px;
    }

    .useremail {
        width: 50%;
        margin: 5px;
    }

    .homepagelink input {
        width: 92%;
        margin: 5px;
    }

}

@media screen and (max-width: 900px) {
    .name input {
        width: 84%;
        margin: 5px;
    }

    .birthdate {
        width: 84%;
        margin: 5px;
    }

    .useremail {
        width: 84%;
        margin: 5px;
    }

    .homepagelink input {
        width: 84%;
        margin: 5px;
    }

    .introbio {
        width: 84%;
        margin: 5px;
    }

    .submitbutton {
        width: 94%;
        margin: 5px;
    }

}

@media screen and (min-width: 900px) {
    .name input {
        width: 35%;
        margin: 5px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }

    input {
        font-size: 10px;
        padding: 8px;
    }

    .name input {
        width: 84%;
        margin: 5px;
    }

    .birthdate {
        width: 84%;
        margin: 5px;
    }

    .useremail {
        width: 84%;
        margin: 5px;
    }

    .homepagelink input {
        width: 84%;
        margin: 5px;
    }

    .choose {
        font-size: 10px;
        margin: 10px;
    }

    .introbio {
        width: 84%;
        margin: 5px;
        padding: 8px;
    }

    .submitbutton {
        width: 96%;
        margin: 5px;
        padding: 8px;
    }
}