h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
}

.box {
    margin: auto;
    width: 50%;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(158, 158, 255, 0.529);
}

input {
    border-radius: 30px;
    border-color: rgb(170, 170, 170);
    padding: 15px;
}

.name {
    margin: auto;
    width: 100%;
}

.name input {
    width: 42%;
    margin: 5px;
}

.infor {
    margin: auto;
    width: 100%;
}

.birthdate {
    width: 30%;
    margin: 5px;
}

.useremail {
    width: 53%;
    margin: 5px;
}