body {
    font-family: 'Space Grotesk';
}

.main {
    display: flex;
    justify-content: space-between;
    margin: auto 70px;
}

.logo {
    margin: auto 5px;
}

.logo img {
    margin: auto;
}

.subgroup {
    display: flex;
    gap: 30px;
    margin: auto 5px;
}

h4 {
    font-weight: normal;
    font-size: 20px;
}

.subbutton {
    border: 1px solid;
    border-radius: 8px;
    padding: 10px 20px;
    margin: auto;
}

.menu {
    margin: auto;
}

.button {
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: 'Space Grotesk';
}

@media screen and (max-width: 1200px) {

    .submain h4 {
        font-family: 'Space Grotesk';
        font-weight: normal;
        font-size: 16px;
    }

    .subbutton {
        border: 1px solid;
        border-radius: 8px;
        padding: 5px 10px;
        margin: auto;
    }

}

@media screen and (max-width: 1090px) {

    .submain h4 {
        font-size: 10px;
    }

    .subbutton {
        border-radius: 8px;
        padding: 2px 5px;
    }

}

@media screen and (max-width: 800px) {

    .main {
        margin: 20px;
    }

    .logo {
        width: 30%;
    }

    .subgroup {
        display: none;
    }

}

@media screen and (min-width: 800px) {

    .menu {
        display: none;
    }

}