body {
    font-family: 'Space Grotesk';
}

.main {
    display: flex;
    justify-content: space-between;
    margin: auto 70px;
}

.logo {
    margin: auto 5px;
}

.logo img {
    margin: auto;
}

.subgroup {
    display: flex;
    gap: 30px;
    margin: auto 5px;
}

.h4 {
    font-weight: normal;
    font-size: 20px;
}

.subbutton {
    border: 1px solid;
    border-radius: 8px;
    padding: 10px 20px;
    margin: auto;
}

.button {
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: 'Space Grotesk';
}