.main02 {
    display: flex;
    margin: auto 70px;
}

.title {
    margin: auto;
    width: 100%;
}

.title01 {
    margin: 40px auto 20px auto;
}

.title02 {
    margin: 0px auto 40px auto;
}

.illus {
    margin: auto 30px;
    width: 80%;
}

.title01 h1 {
    font-family: 'Space Grotesk';
    font-size: 70px;
    font-weight: normal;
    width: 90%;
}

.title02 h3 {
    font-family: 'Space Grotesk';
    font-size: 20px;
    font-weight: normal;
    width: 77%;
}

.title03 {
    background-color: black;
    border-radius: 10px;
    padding: 18px 28px;
    width: 30%;
    text-align: center;
    margin: 20px 0px 40px 0px;
}

.button02 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Space Grotesk';
    font-size: 20px;
}

.main03 {
    display: flex;
    margin: auto 40px;
    gap: 30px;
}

.main03 div {
    display: flex;
    width: 10%;
    margin: auto;
}

@media screen and (max-width: 800px) {
    .main02 {
        margin: 20px;
    }

    .illus {
        display: none;
    }

    .title01 h1 {
        font-size: 46px;
        width: 100%;
    }

    .illus02 {
        width: 100%;
    }

    .title02 h3 {
        font-size: 16px;
        width: 100%;
    }

    .title03 {
        width: 86%;
    }

    .main03 {
        flex-wrap: wrap;
    }

    .main03 div {
        width: 30%;
    }

}

@media screen and (min-width: 800px) {
    .illus02 {
        display: none;
    }
}