body {
    font-family: sans-serif;
}

.allrelative {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
}

.tripplace {
    position: relative;
    width: 40%;
    margin: auto;
}

.box {
    box-shadow: 20px -20px 60px rgba(147, 181, 255, 0.553);
    border-radius: 10px;
}

.trippic {
    padding: 10px 10px 0px 10px;
}

.trippic img {
    border-radius: 8px;
    aspect-ratio: 1/0.7;
}

.tittle h1 {
    font-size: 18px;
    padding: 0px 10px;
}

.tittle p {
    color: rgb(90, 90, 90);
    font-size: 12px;
    padding: 0px 10px;
}

.icon {
    padding: 10px 10px 0px 10px;
}

.icon img {
    margin: auto 3px;
}

.peoplegoing {
    display: flex;
    padding: 10px 10px 0px 10px;
    justify-content: space-between;
}

.show {
    display: flex;
}

.show img {
    margin: auto 5px;
}

.show p {
    color: rgb(90, 90, 90);
    font-size: 12px;
}

.likeicon {
    margin: auto 0px;
}

div.commentbox {
    position: absolute;
    top: 320px;
    right: -50px;
}

.commentbox {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.367);
    width: 55%;
    border-radius: 10px;
    display: flex;
}

.profile img {
    margin: 5px;
}

.comment h6 {
    color: rgb(90, 90, 90);
    margin: 5px;
}

.comment p {
    font-size: 14px;
    margin: 5px;
}

.likecomment {
    margin: 5px;
}

@media screen and (max-width: 1080px) {
    .allrelative {
        gap: 60px;
    }

    .tripplace {
        width: 50%;
        margin: auto;
    }

    div.commentbox {
        right: -70px;
    }
}

@media screen and (max-width: 850px) {

    div.commentbox {
        top: 280px;
        right: -100px;
    }

    .commentbox {
        width: 80%;
    }

    .comment h6 {
        margin: 5px;
    }

    .comment p {
        margin: 5px;
    }

}

@media screen and (max-width: 600px) {
    div.commentbox {
        top: 200px;
        right: -100px;
    }

    .commentbox {
        width: 100%;
    }

    .comment h6 {
        margin: 2px;
    }

    .comment p {
        font-size: 12px;
        margin: 2px;
    }

}

@media screen and (max-width: 400px) {

    div.commentbox {
        top: 230px;
        right: -70px;
    }

    .commentbox {
        width: 60%;
    }

    .comment h6 {
        font-size: 10;
    }

    .comment p {
        font-size: 12px;
    }

}