body {
    font-family: sans-serif;
}

.allrelative {
    display: flex;
    gap: 20px;
}

div.tripplace {
    margin: auto;
    position: relative;
    width: 370px;
}

.box {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.367);
    width: 100%;
    border-radius: 10px;
}

.trippic {
    padding: 10px 10px 0px 10px;
}

.trippic img {
    border-radius: 8px;
}

.tittle h1 {
    font-size: 18px;
    padding: 0px 10px;
}

.tittle p {
    color: rgb(90, 90, 90);
    font-size: 12px;
    padding: 0px 10px;
}

.icon {
    padding: 10px 10px 0px 10px;
}

.icon img {
    margin: auto 3px;
}

.peoplegoing {
    display: flex;
    padding: 10px 10px 0px 10px;
    justify-content: space-between;
}

.show {
    display: flex;
}

.show img {
    margin: auto 5px;
}

.show p {
    color: rgb(90, 90, 90);
    font-size: 12px;
}

.likeicon {
    margin: auto 0px;
}

div.commentbox {
    position: absolute;
    top: 280px;
    right: -100px;
}

.commentbox {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.367);
    width: 60%;
    border-radius: 10px;
    margin: auto;
    display: flex;
}

.profile img {
    margin: 10px;
}

.comment h6 {
    color: rgb(90, 90, 90);
    margin: 10px;
}

.comment p {
    font-size: 14px;
    margin: 10px;
}

.likecomment {
    margin: 10px;
}

@media screen and (max-width: 800px) {
    .allrelative {
        flex-direction: column;
    }

}