body {
    background-color: rgb(235, 235, 235);
    font-family: sans-serif;
    margin: auto 20px;
}

.head {
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.contentbox {
    width: 30%;
    margin: auto;
}

.pic img {
    border-radius: 10px;
}

.readmore {
    background-color: rgb(255, 255, 255);
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: -50px;
    margin: auto;
}

@media screen and (max-width: 1080px) {
    .readmore {
        padding: 16px;
        top: -50px;
    }

    .readmore h4 {
        font-size: 14px;
    }

    .readmore a {
        font-size: 14px;
    }
}

@media screen and (max-width: 800px) {

    .contentbox {
        width: 40%;
    }


    .readmore {
        padding: 8px;
    }

    .readmore h4 {
        font-size: 10px;
    }

    .readmore a {
        font-size: 10px;
    }
}

@media screen and (max-width: 600px) {
    .content {
        flex-direction: column;
    }

    .contentbox {
        width: 100%;
    }

    .pic {
        width: 90%;
        margin: auto;
    }

}